<div class="page-wrapper">
  <itl-incoming-call *ngIf="incomingCall | async" [offer]="offer | async" [caller]="caller | async"
    (accept)="acceptIncomingCall($event)"></itl-incoming-call>
  <div>
    <div class="chat-avatar"></div>
    Videochat
  </div>
  <div class="videos">
    <video #localVideo autoplay playsinline id="localVideo"></video>

    <div class="remote-video-wrapper">
      <video #remoteVideo autoplay playsinline id="remoteVideo"></video>
    </div>
  </div>
  <!-- <div>
    <div>{{ this.offers.length}} </div>
    <div>{{ this.candidates | json}} </div>
    <div>{{ this.tracks | json}} </div>
  </div> -->
</div>